.screen {
    position:absolute;
    display: grid;
    grid-template-columns: 100%;
    top: 60px; 
    left:0px;
    right:0px;
    bottom:0px;
}

.partition1{
    background: rgb(109,58,149);
    background: linear-gradient(0deg, rgba(109,58,149,1) 0%, rgba(150,91,188,1) 100%);
}
