.question {
  display: grid;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  color: white;
}

.groupButton {
  float: right;
}

.MuiCardHeader-title {
  font-weight: 500;
}

.textCard {
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: slateblue;
  text-align: center;
}

.choices {
  background-color: white;
  width: 40%;
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: #4b2d5e;
}

.cardContainer {
}
.cardContainerLeft {
  margin-right: 3rem;
}

.cardContainerButton {
}
.cardContainerButtonLeft {
  margin-right: 3rem;
}
.cardContainerButton:hover,
.cardContainerButtonLeft:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 4px;
}

.card {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #60308b;
  border-radius: 0.8rem;
  text-align: center;
  width: auto;
}

.imageCard {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: slateblue;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.imageAndTextCard {
  margin: auto;
  color: white;
  box-shadow: 0px 33px 0px -22px rgba(0, 0, 0, 0.45);
  border-radius: 0.8rem;
}

.options {
  flex-direction: row;
}

.image {
  border-radius: 0.4rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.cardCaptionText {
  color: black;
  margin-left: 1rem;
  padding-right: 0.8rem;
}
.cardCaptionTextContainer {
  height: 3rem;
  margin-top: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.2rem;
}
.cardCaptionTextContainer:hover {
  background-color: whitesmoke;
}

.cardCaptionOption {
  color: #40007a;
  font-weight: 500;
}
.cardCaptionOptionContainer {
  width: 1.5rem;
  height: 1.5rem;
  border: solid 1px #40007a;
  margin-left: 0.8rem;
}

.timer {
  text-align: center;
  position: relative;
}
.options {
  display: flex;
  margin-top: 0.5rem;
}

.Button {
  color: white;
}

.iconButton {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 0.5rem;
}
.facebookIconButton {
  background-color: #3b5998;
  color: white;
  margin-bottom: 0.8rem;
  margin-right: 0.6rem;
}
.facebookIconButton:hover {
  background-color: rgba(59, 89, 152, 0.92) !important;
}

.circularProgressWrapper {
  position: absolute;
}

.circularProgress {
  color: white;
}

.cardCaptionVotes {
  margin-top: 1rem;
}
