.question {
  display: grid;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  color: white;
}

.MuiCardHeader-title {
  font-weight: 500;
}

.textCard {
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: slateblue;
  text-align: center;
}

.choices {
  background-color: white;
  width: 40%;
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: #4b2d5e;
}

.card {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #60308b;
  border-radius: 0.8rem;
  text-align: center;
  width: auto;
}

.imageCard {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: slateblue;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.imageAndTextCard {
  margin: auto;
  color: white;
}

.options {
  flex-direction: row;
}

.image1 {
  width: 10rem;
  margin-right: 5rem;
  height: 300px;
}

.image1:hover {
  transform: scale(1.05);
}

.image2 {
  width: 10rem;
  height: 300px;
}

.image2:hover {
  transform: scale(1.05);
}

.timer {
  text-align: center;
}
.options {
  display: flex;
}

.Button {
  color: white;
}
