.question {
  display: grid;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  color: white;
}

.groupButton {
  float: right;
}

.MuiCardHeader-title {
  font-weight: 500;
}

.textCard {
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: slateblue;
  text-align: center;
}

.choices {
  background-color: white;
  width: 40%;
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: #4b2d5e;
}

.cardContainer {
}

.cardContainerLeft {
  margin-right: 3rem;
}

.cardContainer:hover,
.cardContainerLeft:hover {
  transform: scale(1.05);
}

.card {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #60308b;
  border-radius: 0.8rem;
  text-align: center;
  width: auto;
}

.imageCard {
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: slateblue;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.imageAndTextCard {
  margin: auto;
  color: white;
  box-shadow: 0px 33px 0px -22px rgba(0, 0, 0, 0.65);
  border-radius: 0.8rem;
}

.options {
  flex-direction: row;
}

.image {
  border-radius: 0.5rem;
  width: 10rem;
  height: 10rem;
}

.cardCaptionText {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.timer {
  text-align: center;
}
.options {
  display: flex;
}

.Button {
  color: white;
}

.iconButton {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 0.5rem;
}
