.screen {
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.background {
  background: rgb(109, 58, 149);
  background: linear-gradient(
    0deg,
    rgba(109, 58, 149, 1) 0%,
    rgba(150, 91, 188, 1) 100%
  );
}

/* Buttons */

.MuiAppBar-colorPrimary {
  color: rgba(0, 0, 0, 0.87);
  background-color: purple;
}

.MuiButton-root {
  text-transform: none;
}
.MuiButton-containedPrimary {
  background-color: white;
  color: #955abb;
  text-transform: none;
}

.MuiButton-containedPrimary:hover {
  background-color: #955abb;
  color: white;
}

.MuiOutlinedInput-input {
  color: black !important;
}
.MuiInput-outlined:after {
  border-bottom-color: "green";
}

.MuiFormLabel-root.Mui-focused .MuiOutlinedInput-notchedOutline:focus {
  color: #955abb;
  border-color: #955abb;
}
.MuiOutlinedInput-notchedOutline:focus {
  border-color: #955abb;
}

.MuiFormLabel-root.Mui-focused {
  color: rgba(109, 58, 149, 1);
}

.MuiDialog-paperScrollPaper {
  max-height: fit-content;
}
