.MuiAppBar-colorPrimary {
  color: rgba(0, 0, 0, 0.87);
  background-color: purple;
}

.MuiButton-containedPrimary {
  background-color: white;
  color: #955abb;
}

.MuiButton-containedPrimary:hover {
  background-color: #955abb;
  color: white;
}
